version: "3.9"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://viaduct.proxy.rlwy.net:16303/railway
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: SZMwIlqmUcZSnHEtrwsvVBJqYfZKFZmQ