<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aceitar Solicitações de Sessões de Mentoring</title>
   
    <link rel="stylesheet" href="../css/sessaoMentoring.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<a href="/mentor/perfilMentor" class="voltar-topo">
    <i class="fas fa-arrow-left"></i>
</a>

<body>
<div class="container">
    <h1>Solicitações de Sessões de Mentoring</h1>
    <div class="requests-list" id="requestsList">
        <!-- Aqui serão inseridas as solicitações de sessão de mentoring -->
    </div>
</div>

<div class="menu">
    <button class="btn btn-primary dropbtn">Menu</button>
    <div class="dropdown-content">
      <a href="/mentor/perfil-mentor">Meu Perfil</a>
      <a href="/index">Sair</a>
    </div>
</div>

<script src="../sessaoMentoring.js"></script>
</body>
</html>